<span class="span-18">
	<span class="span-18 margin-top-1 fontsize14 dark_gray bold_font">
		<%=word_for :instruction_new_one%>
	</span>
	<span class="span-18 margin-top-1 fontsize11 medium_dark_gray normal_font">
		<%=word_for :instruction_step1%>
	</span>
	<span class="span-18 margin-top-1 fontsize11 medium_dark_gray normal_font">
		<%=word_for :instruction_step2%>
	</span>
	<span class="span-18 margin-top-1 fontsize11 medium_dark_gray normal_font">
		<%=word_for :instruction_step3%>
	</span>
</span>