<% content_for :menu do %>
	<span class="span-18 margin-bottom-2">	
		<span class="span-18 dark_blue_bg height01">
		</span>
		<span class="span-18 light_blue_bg dark_gray fontsize12 bold_font height20 margin-bottom-1">
			<span class="span-15 margin-left-1">
				Menu
			</span>
		</span>
		<span class="span-17 margin-left-1 margin-bottom-1">
			<ul>
				<li><a href="/college_admin">Colleges</a></li>
				<li><a href="/admin_meeting_place">Official Meeting Places</a></li>
				<li><a href="/flag_admin">Flags</a></li>
			</ul>
		</span>
	</span>
<% end %> 


<%= render :file => 'layouts/main' %> 