<span class="span-96 margin-left-1 margin-top-1 font28 bold_font friendmage_red whiteShadow clearfix">
	<%= word_for :facebook_friend_poster%>
</span>
<span class="span-24 margin-left-1 clearfix">
	<span class="span-24 margin-top-2 font18 bold_font dark_gray whiteShadow clearfix">
		<%= word_for :help%>
	</span>
	<span class="span-24 height01 medium_gray_bg margin-top-1">
	</span>
	<span class="font12 dark_gray">
		<%= word_for :help_content%>
	</span>
</span>