<span class="span-98 margin-top-2">
    <span class="span-98 clearfix">
		<span class="float-left ">
			<span class="float-left font12 bold_font medium_dark_gray line_height26px">
				<%= word_for :not_authorized%>
			</span>
		</span>
	</span>
</span>
