<span class="contentContainer writePub_green_bg">
	<span class="thankyou">
	</span>
	<span class="span-78">
		<span class="span-40 margin-left-40">
			<span class="span-40 font30 white bold_font">
				<%=word_for(:thank)%>
			</span>
			<span class="span-40 lineheight1Em font16 white normal_font">
				<%=word_for(:thank_desc)%>
			</span>
		</span>
	</span>
</span>

<span class="endPattern">
</span>