<span class="span-52">
	<span class="span-51 margin-left-1 margin-top-1 light_blue_bg drak_gray bold_font fontsize14 margin-bottom-1">
		<span class="span-51 margin-left-1">
			<%=word_for :sorry_no_one_has_this_item%>
		</span>
	</span>
</span>
