<span class="span-80">
	<span class="span-79 margin-left-1 margin-top-1 light_blue_bg drak_gray bold_font fontsize14 margin-bottom-1">
		<span class="span-78 margin-left-1 margin-top-1 margin-bottom-1">
			<%=word_for :cant_find_someone_to_swap_with_you%>
		</span>
	</span>
</span>
