<script language="javascript">
	$.whowish_box_title_text("<%=word_for :whowish_box_title%>");
</script>
<span class="span-50 margin-top-1 dark_gray ">
	<span class="span-48 margin-left-1">
  <b>Squeks FAQs & Help</b>
  <br/><br/>
  <b>What is the “Worth” box that appears after a celebrity name?</b>
    <br/><br/>
  The worth box that appears after a celebrity or topic name is the minimum amount a person must bid to become an owner of that Squeks page.
  <br/><br/>

<b>What does becoming an Owner of a Squeks celebrity or topic mean?</b>

  <br/><br/>
When you become owner of a Squeks page, you have full editorial control of that page. You can add photos, change the description text, etc.

 <br/><br/>
<b>How can I become Owner of a Squeks page?</b>

  <br/><br/>
If your favorite person or topic is not in the Squeks database, you can be the first to create the page. When creating a Squeks page, you can choose to become an owner.
 <br/><br/>

If your favorite celebrity or topic is already in our database, you can bid to become owner of that page. The minimum that you must bid is the amount shown as the “Worth” of the celebrity or topic. 
 <br/><br/>

<b>How can I challenge for ownership of a Squeks page?</b>

  <br/><br/>
You can start a challenge by bidding the minimum “Worth” of a Squeks celebrity or topic page. You and the existing owner can then try to outbid each other for 24 hours. The person with the highest bid wins ownership of the celebrity or topic.

 <br/><br/>
<b>How can I earn Squeks credits to bid with?</b>

  <br/><br/>
You can earn Squeks credits by voting (love or hate), commenting, and creating a new Squeks page not already in our database. Credits are awarded as follows:

  <br/><br/>
Voting = 3 credits
 <br/>
Commenting = 1 credit
 <br/>
Create Page = 3 credits
 <br/><br/>

<b>Can I create a new Squeks page for a celebrity or topic already listed?</b>
  <br/><br/>

Sorry, but no. Duplicate pages will be merged with the original (first) Squeks page for that celebrity or topic.

 <br/><br/>
<b>How can I use Squeks anonymously?</b>

 <br/><br/>
When you login to Squeks you are automatically given an anonymous username. You can change this username by going to your Profile page. If the “Hide yourself?” slide shows YES, then you are using Squeks with your anonymous username. If the “Hide yourself?” slide shows NO, then you are using Squeks with your public Facebook name.

 <br/><br/>
<b>Can I become Owner of a Squeks page anonymously?</b>
 <br/><br/>

We are sorry, but no. To help maintain the integrity of the Squeks system, your public Facebook name will show if you choose to become an owner of a Squeks celebrity or topic. Your public Facebook name will also show if you chose to bid for ownership.

 <br/><br/>
<b>When I create a new page, there is a Title (Japanese) field. What should I do? I don’t speak Japanese!</b>

 <br/><br/>
That field is there for the convenience of our many Japanese users. You can just leave that blank.

 <br/><br/>
<b>I made a mistake and voted publicly. Can I switch that to anonymous?</b>
 <br/><br/>

Yes. A record of your voting history can be found on your Squeks profile page. Go there and you can change your “Hide Yourself?” status for any love/hate vote you made.

 <br/><br/>
<b>Can I upload a new photo to a Squeks celebrity or topic page?</b>
 <br/><br/>

Yes, but you must first become owner of that page. Or be the first person to create and own a Squeks page for a celebrity or topic that is not already in our database.

 <br/><br/>
<b>I don’t have a Facebook account. Can I still use Squeks?</b>

 <br/><br/>
You can browse Squeks pages. But to vote and comment on Squeks, you need to have a Facebook account.

 <br/><br/>
<b>How can I login and use Squeks?</b>

 <br/><br/>
To login and use Squeks, you must have a Facebook account and have at least five friends. To login with your Facebook account, click the blue Facebook connect button in the upper right corner of the page.

 <br/><br/>
<b>Why do I need a Facebook account?</b>

 <br/><br/>
By restricting users to only those who have a Facebook account, it helps us maintain the integrity of the Squeks system, prevent abuses, and ensure all users have a good experience.

 <br/><br/>
<b>I have another problem not answered here. What should I do?</b>

 <br/><br/>
Please send us an email at service@whowish.com. 
 <br/><br/>
 </span>
</span>
