<script language="javascript">
	$.whowish_box_title_text("<%=word_for :whowish_box_title%>");
</script>
<span class="span-50 margin-top-1 margin-bottom-1 dark_gray">
	<span class="span-48 margin-left-1">
		<%=word_for :text%>
	</span>
</span>
