<span class="managePage">
	<span class="eventTable">
		<span class="row">
			<span class="numberOfPeople">6</span>
			<a href="#" class="title">Lunch someday?</a>
			<a href="#" class="owner">
				<span class="thumbnail" style="background-image: url();"></span>
				<span class="name">Tanin Na Nakorn</span>
			</a>
		</span>
		<span class="row settled">
			<span class="numberOfPeople">6</span>
			<a href="#" class="title">Group Meeting</a>
			<span class="startTime">27 Jan 2011 15:00</span>
			<a href="#" class="owner" style="background-image: url();">
				<span class="thumbnail" style="background-image: url();"></span>
				<span class="name">Tanin Na Nakorn</span>
			</a>
		</span>
	</span>
</span>
