<span class="loginRequired">
	<span class="explanation">
		<%=word_for :login_required%>
	</span>
	<a class="connectFacebookButton"></a>
	<span class="websiteDescription">
		<%=word_for :website_description%>
	</span>
</span>
