<span class="thankPage">
	<span class="explanation">
		<%=word_for :login_required%>
	</span>
	<a class="link" target="">
		http://www.2meet4.com/!/EQ2FE4QAV
	</a>
	<span class="shareExplanation">
		<%=word_for :login_required%>
	</span>
	<a href="#" class="facebookShareButton"></a>
	<a href="#" class="twitterShareButton"></a>
</span>