<span class="figure-unit">
    <ul>
        <li class="span-28 squeks_shadow_bg">
            <span class="squeks_blue_bg font14 white figure_header">
                <%=word_for :ads_topic%>
            </span>
        </li>
        <li class="span-28 light_medium_gray_bg">
           <span class="margin-left-1 margin-top-1 span-26" style="white-space:normal;">
               <%=word_for :ads_description%>
           </span>
        </li>
    </ul>
</span>