<span class="span-28 white_bg">
	<span class="span-27 margin-top-5px margin-left-5px">
		<span class="span-27 font12 bold_font" style="white-space:nowrap;overflow:hidden;">
			<a href="/discussion/view/<%=discussion.id%>" target="_discussion_<%=discussion.id%>" class="dark_gray">
				<%=discussion.title%>
			</a>
		</span>
		<span class="span-21 margin-top-5px font10 medium_dark_gray">
			<%=word_for :reply,:number=>discussion.replies%>
		</span>
		<span class="span-21 height-1">
			
		</span>
	</span>
</span>
