<span class="span-69 margin-top-1 clearfix">
	<textarea class="status_input span-58" id="comment_content"></textarea>
	<a href="#" class="comment_button" id="comment_submit_button" onclick="submit_comment();return false;">comment</a>
</span>
<script language="javascript">
	event_form_validator = {
	    validate: function (input_obj) {
			if (input_obj.id in this.validatees)
				(this.validatees[input_obj.id])(input_obj);
			else 
				alert("event_form_validator does not validate '" + input_obj.id+"'");
	    },
		validate_form: function() {
			var bool = true;
			
			for (var i in this.validatees)
			{
				bool = (this.validatees[i])(jQuery("#"+i)[0]) && bool;
			}
	
			return bool;
		},
		validatees : {
			"comment_content" : function (input_obj) {
				return validate_input_obj(input_obj,get_string_errors);
			}
		
		}
	}

	
	UNIQUE_COMMENT_ID = 0;
	function submit_comment()
	{
		if (!event_form_validator.validate_form()) {
			return;
		}
		
		try {
			$('#comment_submit_button').loading_button(true);
			
			$.ajax({
				type: "POST",
				url: '/article_comment/add',
				cache: false,
				data: {
					authenticity_token: "<%=form_authenticity_token%>",
					article_id:"<%=entity.id%>",
					"content": $('#comment_content').val()
				},
				success: function(data){
					try {
						if (data.ok == true) {
							if (data.redirect_url != undefined) {
								top.location.href = data.redirect_url;
								return;
							}
							
							$('#comment_submit_button').loading_button(false);
							$('#new_comment').after('<span id="new_comment_'+UNIQUE_COMMENT_ID+'" style="display:none;">'+data.html+'</span>');
							
							$('#new_comment_'+UNIQUE_COMMENT_ID).fadeIn();
							
							$('#comment_content').val('');
							UNIQUE_COMMENT_ID++;
						}
						else {
							$('#comment_submit_button').loading_button(false);
                           
                            $('#comment_content').ruby_box(true,data.error_message);
                            
						}
						
					} 
					catch (e) {
						$('#comment_submit_button').loading_button(false);
						$.error_log('submit_comment', e);
						alert(e);
					}
					
				},
				error: function(req, status, e){
					$('#comment_submit_button').loading_button(false);
                     if (req.status == 0) return;
					alert('Cannot connect to the server. Please try again later.');
				}
			});
		} catch (e)
		{
			$('#comment_submit_button').loading_button(false);
			$.error_log('submit_comment',e);
			alert(e);
		}
	}
</script>
