<ul>
	<li><a href="#"><%=word_for :about%></a></li>
	<li><a href="#"><%=word_for :terms_and_privacy%></a></li>
	<li><a href="#"><%=word_for :create_event%></a></li>
	<li><a href="#"><%=word_for :manage_event%></a></li>
</ul>
