<span class="flatHeader">
	<span class="flatLogo"></span>
	<a href="#" class="createEventLink"><%=word_for :create_event%></a>
	<a href="#" class="manageEventLink"><%=word_for :manage_event%></a>
</span>
