<span class="span-98 margin-top-1 dark_gray">
    <b>FriendMage: Terms and Conditions</b>
	<br/><br/>
The following terms and conditions are between FriendMage, a service of Whowish Ltd., and the customer (hereinafter referred to as "customer").
<br/><br/>
1.  A sales agreement between FriendMage and the customer comes into effect only on a written order confirmation by FriendMage or on the execution of the customer’s order. Changes and additions are valid only if confirmed in writing by FriendMage.
<br/><br/>
2.  FriendMage reserves the right to cancel orders without providing a reason and for any reason.
<br/><br/>
3.  The images which FriendMage uses (such as profile pictures) are pulled directly from Facebook via the FriendMage application. The copyright of the images used remains with Facebook or with its users/customers. Further information may be found in Facebook’s terms and conditions.
<br/><br/>
4.  By using the services of FriendMage the customer confirms to FriendMage that he/she is authorized to privately use the processed images.
<br/><br/>
5.  FriendMage can make delivery of its product through any manner or service provider it chooses.
<br/><br/>
6.  FriendMage shall seek to comply with its stated delivery times. Customers can request that their order be cancelled if delivery is not made within two weeks. For cancelled orders to take effect, the cancellation must be confirmed in writing by FriendMage.
<br/><br/>
7.  In the case of supply disruptions, which are not within the control of FriendMage or was culpably caused by FriendMage, FriendMage is entitled to withdraw from the sales contract and refund the purchase price.
<br/><br/>
8.  All prices are retail prices including VAT of 7%.
<br/><br/>
9.  The purchase price is due immediately at contract closing and will be charged in advance.
<br/><br/>
10. All extra shipping costs that are due to an incorrect shipping address or other incorrect data supplied by the customer are to be paid by the customer.
<br/><br/>
11.  Any type of image data, sizes and descriptions are for information only. 
<br/><br/>
12.  Minor technical variations (e.g. color differences) are not to be considered a mistake or grounds for a refund.
<br/><br/>
13. FriendMage, Whowish Ltd., related 3rd party companies, and their employees are not liable for any direct, indirect or consequential loss, damage, or bodily harm incurred by any customer in connection with FriendMage.com, including without limitation any liability for loss of profits, income, business, savings, goodwill, wasted expenditure, corruption or destruction of data; nor are they liable for any losses resulting from the use or the inability to use FriendMage.com and its services for any reason.
<br/><br/>
</span>