<span class="span-100 clearfix">
            <span class="span-92 clearfix margin-left-4 margin-bottom-2">
                 <span class="underBox">
                    <span class="contentBox">
                        <span class="span-92 clearfix">
                            <span class="span-92 register_bg clearfix">
								<span class="span-90 margin-top-1 margin-left-1 eco_green_bg display_inline_block">
									<span class="span-88 margin-top-1 margin-left-1 white font18 bold_font display_block">
										<%= word_for :register%>
									</span>
									<span class="span-88 margin-top-1 margin-bottom-1 margin-left-1 white font12 bold_font display_block">
										<%= word_for :register_desc%>
									</span>
								</span>
                            </span>
							<span class="span-92 clearfix">
								<span class="span-46  margin-top-2 margin-bottom-1 clearfix">
									<%=render :partial=>"/member/login_form"%>
								</span>
								<span class="span-46 light_gray_bg clearfix">
									<%=render :partial=>"/member/register_form"%>
								</span>
							</span>
                        </span>
                    </span>
                </span>
            </span>
        </span>
