<span class="span-100 clearfix">
	<span class="span-92 clearfix margin-left-4 margin-bottom-2">
	     <span class="underBox">
	        <span class="contentBox">
	            <span class="span-92 clearfix">
	                <span class="span-92 clearfix">
						<span class="span-90 margin-top-1 margin-left-1  display_inline_block margin-bottom-1">
							<span class="span-88 margin-top-1 margin-left-1 eco_green font18 bold_font display_block">
								<%= word_for :thank_you%>
							</span>
							<span class="span-88 margin-top-1 margin-bottom-1 margin-left-1 eco_green font12 bold_font display_block">
								<%= word_for :please_check_mail%>
							</span>
							<div style="height:0px;clear:left;">&nbsp;</div>
						</span>
	                </span>
	            </span>
	        </span>
	    </span>
	</span>
</span>
