<script language="javascript">
	$.whowish_box_title_text("<%=word_for :whowish_box_title%>");
</script>
<span class="span-49 margin-left-1 dark_gray" style="overflow:auto;height:400px;">
	<br/>
	<p>
		In this privacy policy references to "we", "us" and "our" are to Whowish. References to "our Application" or "the Application" are to “2Meet4”.
	</p><br/>
	<p>
		<b>What information we collect and how</b>
		<br/>
		The information we collect via the Application may include:
		<br/>
		Any personal details you knowingly provide us with through forms and our email, such as name, address, telephone number etc.
		<br/>
		Your preferences and use of email updates, recorded by emails we send you (if you select to receive email updates on products and offers).
		<br/>
		Your IP Address, this is a string of numbers unique to your computer that is recorded by our web server when you request any page or component on the Application. This information is used to monitor your usage of the Application.
		<br/>
		Data recorded by the Application which allows us to recognize you and your preferred settings, this saves you from re-entering information on return visits to the site. Such data is recorded locally on you computer through the use of cookies. Most browsers can be programmed to reject, or warn you before downloading cookies, information regarding this may be found in your browsers 'help' facility.
	</p><br/>
	<p>
		<b>What we do with your information</b>
		<br/>
		We will not use your email address for any purpose other than helping you to arrange meetings with the Application. Your email addresses will never be passed to any other company or organization.
		<br/>
		Details of meetings, including all email addresses may be removed from our system within 90 days after any meeting you schedule. Meeting data is kept for a short time so users can review meeting details if needed.
	</p><br/>
	<p>
		<b>TERMS AND CONDITIONS FOR USE OF 2MEET4</b>
		<br/>
		In these Terms and Conditions "we, our, us" refers to "Whowish".
	</p><br/>
	<p>
		<b>ACCEPTANCE OF TERMS</b>
		<br/>
		By accessing the content of http://apps.facebook.com/twomeetfour/ ("the Application") you agree to be bound by the terms and conditions set out herein and you accept our privacy policy. If you object to any of the terms and conditions set out in this agreement you should not use any of the products or services on the Application and leave immediately.
		<br/>
		You agree that you shall not use the Application for illegal purposes, and will respect all applicable laws and regulations. You agree not to use the Application in a way that may impair the performance, corrupt the content or otherwise reduce the overall functionality of the Application. You also agree not to compromise the security of the Application or attempt to gain access to secured areas or sensitive information.
		<br/>
		You agree to be fully responsible for any claim, expense, liability, losses, costs including legal fees incurred by us arising from any infringement of the terms and conditions set out in this agreement.
	</p><br/>
	<p>
		<b>MODIFICATION</b>
		<br/>
		We reserve the right to change any part of this agreement without notice and your use of the Application will be deemed as acceptance of this agreement. We advise users to regularly check the Terms and Conditions of this agreement.
		<br/>
		We have complete discretion to modify or remove any part of this Application without warning or liability arising from such action. 
	</p>
	<p>
		<b>COPYRIGHT</b>
		<br/>
		All intellectual property of 2Meet4 such as trademarks, trade names, patents, registered designs and any other automatic intellectual property rights derived from the aesthetics or functionality of the Application remain the property of Whowish.
		<br/>
		By using the Application you agree to respect the intellectual property rights of Whowish and will refrain from copying, downloading, transmitting, reproducing, printing, or exploiting for commercial purpose any material contained within the Application.
	</p>
	<p>
		<b>DISCLAIMERS AND LIMITATION OF LIABILITY</b>
		<br/>
		2Meet4 USERS USE 2Meet4 AT THEIR OWN RISK. Please take appropriate measures to protect your safety and privacy when using the application. By entering 2meet4, you agree to hold neither the owners, nor anyone affiliated with 2meet4 responsible or liable for any circumstance resulting from communication connected with the use of 2meet4.
		<br/>
		All material displayed via the Service is provided without any guarantees, conditions or warranties as to its accuracy.  To the extent permitted by law, we, all the members of our group of companies and third parties connected to us hereby expressly exclude:
		<br/>
		1.1    all conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity;
		<br/>
		1.2    liability for any misrepresentations and/or breaches of contract by persons using the Service;
		<br/>
		1.3    liability for any direct, indirect or consequential loss, damage, or bodily harm incurred by any user in connection with the Service or in connection with the use, inability to use, or results of the use of the Service, any websites linked to on the Service and/or any materials posted on it, including without limitation any liability for loss of profits, income, business, savings, goodwill, wasted expenditure, corruption or destruction of data;
		<br/>
		1.4    liability for any losses resulting from the use or the inability to use the Service or messages received of transactions entered into through the Service or resulting from unauthorized access to, or alteration of members' transmissions of data in circumstances;
		<br/>
		1.5    liability if we are unable to provide the Service for any reason.
		<br/>
		1.6  liability due to any bugs, viruses, trojan horses, or the like which may be transmitted to or through our Service by any third party
		<br/>
		1.7 liability due to any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available via the service.
		<br/>
		1.8 liability due to any product or service advertised or offered by a third party through the Service or any hyperlinked services or featured in any banner or other advertising.
	</p><br/>
	<p>
		<b>THIRD PARTIES</b>
		<br/>
		The Application may contain hyperlinks to Applications operated by other parties. We do not control such Applications and we take no responsibility for, and will not incur any liability in respect of, their content. Our inclusion of hyperlinks to such Applications does not imply any endorsement of views, statements or information contained in such Applications.
	</p><br/>
	<p>
		<b>SEVERANCE</b>
		<br/>
		If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck out and the remaining provisions shall remain in force.
	</p><br/>
</span>