<a href="/admin_statistics/unique_hour">Unique Hour</a><br/>
<a href="/admin_statistics/unique_day">Unique Day</a><br/>
<a href="/admin_statistics/unique_week">Unique Week</a><br/>
<a href="/admin_statistics/unique_month">Unique Month</a><br/>
<a href="/admin_statistics/activity_hour">Activity By Hour</a><br/>
<a href="/admin_statistics/facebook_friends">Number of friends distribution</a><br/>
<a href="/admin_statistics/activity_setting">Activity Setting</a><br/>
