<script language="javascript">
	$.whowish_box_title_text("<%=word_for :whowish_box_title%>");
</script>
<span class="span-50 margin-bottom-1">
	<span class="span-49 margin-left-1">
		<span class="span-47 fontsize12 medium_dark_gray normal_font margin-left-1 margin-top-1" style="line-height:20px;">
			 <%=word_for :about%>
		</span>
		
	</span>
										
</span>
