<script language="javascript">
	$.whowish_box_title_text("<%=word_for :whowish_box_title%>");
</script>
<span class="span-48 margin-left-1 margin-top-1 medium_dark_gray margin-bottom-1">
	<%=word_for :announcement%>
</span>
<div style="height:0px;clear:left;">&nbsp;</div>
