<span class="span-50 margin-top-1" style="overflow:hidden;">
	<span class="span-49 margin-left-1">
		<span class="span-1 display_block" style="height:163px;">
		</span>
		<span class=" float-left display_block" style="height:163px;">
		<img src="../images/aboutUs/images/aboutUs_03.png" alt="" />
		</span>
	</span>
	<span class="span-54" style="margin-left:-15px;">
		<img src="../images/aboutUs/images/aboutUs_06.png" alt="" class="float-left" />
		<a href="#" class="float-left"><img src="../images/aboutUs/images/aboutUs_07.png" alt="Sam" /></a>
		<a href="#" class="float-left"><img src="../images/aboutUs/images/aboutUs_08.png" alt="Pawn" /></a>
		<a href="#" class="float-left"><img src="../images/aboutUs/images/aboutUs_09.png" alt="Ni" /></a>
		<a href="#" class="float-left"><img src="../images/aboutUs/images/aboutUs_10.png" alt="Tanin" /></a>
		<img src="../images/aboutUs/images/aboutUs_11.png" alt="" class="float-left" />
		<img src="../images/aboutUs/images/aboutUs_12.png" alt=""  class="float-left" style="margin-top:-3px;"/>
	</span>
	<span class="span-50">
		
	</span>
</span>