<a href="/kratoo/view/<%=activity.entity.kratoo_id%>">
	<span class="answerIcon">
	</span>
	<span class="topicName">
		<%=word_for(:activity_reply_kratoo,:content=>activity.entity.content,:url=>"/kratoo/view/#{activity.entity.kratoo_id}")%>
	</span>
	<p>
		<%=semantic_time(activity.created_date)%>
	</p>
</a>
