Please login before accessing Valhalla<br/>
<a id="facebook_login_button" href="https://www.facebook.com/dialog/oauth?client_id=<%=APP_ID%>&redirect_uri=<%=CGI.escape('http://'+DOMAIN_NAME+request.path)%>" style="margin-top:10px;cursor:pointer;display:block;">
    <img src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_short.gif"  alt="Login with Facebook"/>
</a>