
<span id="anonymous_switch" onmousedown="$(this).toggle_switch_button(share_option_changed_callback);" style="display:block;width:200px;height:50px;border:1px solid black;position:relative;">
    <span style="display:block;width:95px;height:40px;position:absolute;left:5px;top:5px;background-color:#333333;"></span>
</span>