<span class="figure-unit">
    <ul>
        <li class="span-28 dark_gray_bg">
            <a href="#" class="medium_dark_gray_bg font14 white figure_header">
                Tips
            </a>
        </li>
        <li class="span-28 dark_gray_bg">
            <span class="firstChild span-28 really_light_pink font12">
                Test Test
            </span>
        </li>

    </ul>
</span>