<span class="figure-unit">
    <ul>
        <li class="span-28 dark_gray_bg">
            <a href="/top" class="medium_dark_gray_bg font14 white figure_header">Top &quot;Hate&quot; of the world</a>
        </li>
        <li class="span-28 medium_dark_gray_bg">
            <span class="firstChild span-28 really_light_gray_bg">
                <span class="figure_thumb">
                    <img src="../images/figure/suzyTB.jpg" alt="" />
                </span>
                <span class="span-21 margin-top-5px margin-left-5px">
                    <span class="span-21 font12 bold_font">
                        <a href="#" class="medium_dark_gray">
                            Bae Sue ji ( Suasy Miss A )
                        </a>
                    </span>
                    <span class="span-21 small-meter">
                    <!--==== (width(210) - pinkMargin(2) = 208px =================================================-->
                        <span class="pink-meter-small" style="width:180px;">
                        </span>
                        <span class="gray-meter-small" style="width:28px;">
                        </span>
                    </span>
                    <span class="span-21 font10 medium_dark_gray">
                        50,335,762 Love her, 100 Hate
                    </span>
                    <span class="span-21 height20">
                        <a href="#" class="float-left">
                            <span class="love_icon_small">
                            </span>
                            <span class="font11 huneysuckle_pink bold_font">
                                LOVE
                            </span>
                        </a>
                        <a href="#" class="float-left margin-left-1">
                            <span class="hate_icon_small">
                            </span>
                            <span class="font11 medium_dark_gray bold_font">
                                HATE
                            </span>
                        </a>
                    </span>
                </span>
            </span>
        </li>

    </ul>
</span>