<span class="span-98 margin-top-2">
    <span class="span-98 white_bg gp_bg">
        <span class="span-96 margin-top-1 margin-left-1 margin-bottom-4">
            <span class="span-96 font18 squeks_blue bold_font">
                <%=word_for :topic, :number=>THRESHOLD_FRIENDS%>
            </span>
            <span class="span-96 font11 squeks_blue bold_font margin-top-1">
                <%=word_for :description, :number=>THRESHOLD_FRIENDS%>
            </span>
        </span>
    </span>
    <span class="left_shadow">
    </span>
    <span class="right_shadow">
    </span>
</span>