<span class="span-15 margin-top-2">
	<span class="span-15 dark_blue_bg height01"></span>
	<span class="span-15 light_blue_bg dark_gray fontsize12 bold_font height20 margin-bottom-1">
		<span class="span-13 margin-left-1">
			<%= word_for :recent_event%>
		</span>
	</span>
	
	<span class="span-15 margin-bottom-1">
		<span class="span-15 fontsize11 medium_dark_gray normal_font">
			<span class="date_icon">
			</span>
			<span class="span-12 margin-left-4px">
				<span class="span-12">
					<a href="#" class="fontsize11 dark_gray">Date with Tanin Na ...</a>
				</span>
				<span class="span-12 fontsize10 medium_dark_gray normal_font">
					2 Sep 2011
				</span>
			</span>
		</span>
	</span>
	
	<span class="span-15 margin-bottom-1">
		<span class="span-15 fontsize11 medium_dark_gray normal_font">
			<span class="dinner_icon">
			</span>
			<span class="span-12 margin-left-4px">
				<span class="span-12">
					<a href="#" class="fontsize11 dark_gray">Date with Tanin Na ...</a>
				</span>
				<span class="span-12 fontsize10 medium_dark_gray normal_font">
					2 Sep 2011
				</span>
			</span>
		</span>
	</span>
	
	<span class="span-15 margin-bottom-1">
		<span class="span-15 fontsize11 medium_dark_gray normal_font">
			<span class="party_icon">
			</span>
			<span class="span-12 margin-left-4px">
				<span class="span-12">
					<a href="#" class="fontsize11 dark_gray">Date with Tanin Na ...</a>
				</span>
				<span class="span-12 fontsize10 medium_dark_gray normal_font">
					2 Sep 2011
				</span>
			</span>
		</span>
	</span>
	
	<span class="span-15 margin-bottom-1">
		<span class="span-15 fontsize11 medium_dark_gray normal_font">
			<span class="calendar_icon">
			</span>
			<span class="span-12 margin-left-4px">
				<span class="span-12">
					<a href="#" class="fontsize11 dark_gray">Date with Tanin Na ...</a>
				</span>
				<span class="span-12 fontsize10 medium_dark_gray normal_font">
					2 Sep 2011
				</span>
			</span>
		</span>
	</span>
	
</span>
